.cardss{
    width: auto;
    height: auto;
    position: absolute;
    top: 200px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    box-sizing: inherit;
    
}
.cardss2{
    width: 300px;
    height: 358px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
}
